/*

You Can Customize and override Colors

*/

/*
:root,
[data-bs-theme=light] {
  --bs-blue: #3928d3;
  --bs-indigo: #4f46e5;
  --bs-purple: #5b2be0;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffcc43;
  --bs-green: #187958;
  --bs-teal: #22D3EE;
  --bs-cyan: #0dcaf0;
  --bs-black: #000000;
  --bs-white: #fff;
  --bs-gray: #4B5563;
  --bs-gray-dark: #1F2937;
  --bs-gray-100: #f9fafb;
  --bs-gray-200: #E5E7EB;
  --bs-gray-300: #D1D5DB;
  --bs-gray-400: #9CA3AF;
  --bs-gray-500: #6B7280;
  --bs-gray-600: #4B5563;
  --bs-gray-700: #374151;
  --bs-gray-800: #1F2937;
  --bs-gray-900: #111827;
  --bs-primary: #5b2be0;
  --bs-secondary: #1d253d;
  --bs-success: #187958;
  --bs-info: #22D3EE;
  --bs-warning: #ffcc43;
  --bs-danger: #dc3545;
  --bs-light: #f9fafb;
  --bs-dark: #111827;
  --bs-white: #fff;
  --bs-black: #000000;
  --bs-primary-rgb: 91, 43, 224;
  --bs-secondary-rgb: 29, 37, 61;
  --bs-success-rgb: 24, 121, 88;
  --bs-info-rgb: 34, 211, 238;
  --bs-warning-rgb: 255, 204, 67;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 249, 250, 251;
  --bs-dark-rgb: 17, 24, 39;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-primary-text: #24115a;
  --bs-secondary-text: #0c0f18;
  --bs-success-text: #0a3023;
  --bs-info-text: #0e545f;
  --bs-warning-text: #66521b;
  --bs-danger-text: #58151c;
  --bs-light-text: #374151;
  --bs-dark-text: #374151;
  --bs-primary-bg-subtle: #d7d4f6;
  --bs-secondary-bg-subtle: #f9fafb;
  --bs-success-bg-subtle: #d1e4de;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff5d9;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfdfd;
  --bs-dark-bg-subtle: #9CA3AF;
  --bs-primary-border-subtle: #b0a9ed;
  --bs-secondary-border-subtle: #E5E7EB;
  --bs-success-border-subtle: #a3c9bc;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffebb4;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #E5E7EB;
  --bs-dark-border-subtle: #6B7280;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 75, 85, 99;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.3;
  --bs-body-color: #4B5563;
  --bs-emphasis-color: #000000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(75, 85, 99, 0.75);
  --bs-secondary-color-rgb: 75, 85, 99;
  --bs-secondary-bg: #E5E7EB;
  --bs-secondary-bg-rgb: 229, 231, 235;
  --bs-tertiary-color: rgba(75, 85, 99, 0.5);
  --bs-tertiary-color-rgb: 75, 85, 99;
  --bs-tertiary-bg: #f9fafb;
  --bs-tertiary-bg-rgb: 249, 250, 251;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-heading-color: inherit;
  --bs-link-color: #5b2be0;
  --bs-link-color-rgb: 91, 43, 224;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #4922b3;
  --bs-link-hover-color-rgb: 73, 34, 179;
  --bs-link-hover-decoration: none;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff5d9;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #E5E7EB;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.275rem;
  --bs-border-radius-lg: 0.75rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 3.25rem;
  --bs-box-shadow: 0 0.3rem 1.8rem 0 rgba(55, 26, 134, 0.2);
  --bs-box-shadow-sm: 0 0.2rem 1.25rem 0 rgba(55, 26, 134, 0.1);
  --bs-box-shadow-lg: 0 0.4rem 2.2rem 0 rgba(55, 26, 134, 0.3);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(55, 26, 134, 0.075);
  --bs-emphasis-color: #000000;
  --bs-form-control-bg: var(--bs-body-bg);
  --bs-form-control-disabled-bg: var(--bs-secondary-bg);
  --bs-highlight-bg: #fff5d9;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
  --bs-black-white-rgb: 0, 0, 0;
  --bs-black-white: #000000;
  --bs-light-dark-rgb: 249, 250, 251;
  --bs-light-dark: #f9fafb;
  --bs-white-black-rgb: 255, 255, 255;
  --bs-white-black: #fff;
  --bs-border-light-dark: #E5E7EB;
  --bs-text-dark-light: #374151;
}

[data-bs-theme=dark] {
  --bs-body-color: #D1D5DB;
  --bs-body-color-rgb: 209, 213, 219;
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0, 0, 0;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(209, 213, 219, 0.75);
  --bs-secondary-color-rgb: 209, 213, 219;
  --bs-secondary-bg: #1F2937;
  --bs-secondary-bg-rgb: 31, 41, 55;
  --bs-tertiary-color: rgba(209, 213, 219, 0.5);
  --bs-tertiary-color-rgb: 209, 213, 219;
  --bs-tertiary-bg: #18212f;
  --bs-tertiary-bg-rgb: 24, 33, 47;
  --bs-emphasis-color: #fff;
  --bs-primary-text: #887ee5;
  --bs-secondary-text: #D1D5DB;
  --bs-success-text: #74af9b;
  --bs-info-text: #6edff6;
  --bs-warning-text: #ffe08e;
  --bs-danger-text: #ea868f;
  --bs-light-text: #f9fafb;
  --bs-dark-text: #D1D5DB;
  --bs-primary-bg-subtle: #12092d;
  --bs-secondary-bg-subtle: #06070c;
  --bs-success-bg-subtle: #051812;
  --bs-info-bg-subtle: #072a30;
  --bs-warning-bg-subtle: #33290d;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #1F2937;
  --bs-dark-bg-subtle: #10151c;
  --bs-primary-border-subtle: #371a86;
  --bs-secondary-border-subtle: #111625;
  --bs-success-border-subtle: #0e4935;
  --bs-info-border-subtle: #147f8f;
  --bs-warning-border-subtle: #997a28;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #374151;
  --bs-dark-border-subtle: #1F2937;
  --bs-heading-color: inherit;
  --bs-link-color: #9d80ec;
  --bs-link-hover-color: #b199f0;
  --bs-link-color-rgb: 157, 128, 236;
  --bs-link-hover-color-rgb: 177, 153, 240;
  --bs-code-color: #e685b5;
  --bs-border-color: #374151;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-primary-rgb: 124, 85, 230;
  --bs-secondary-rgb: 23, 30, 49;
  --bs-black-white-rgb: 255, 255, 255;
  --bs-black-white: #fff;
  --bs-light-dark-rgb: 17, 24, 39;
  --bs-light-dark: #111827;
  --bs-white-black-rgb: 0, 0, 0;
  --bs-white-black: #000000;
  --bs-border-light-dark: #374151;
  --bs-text-dark-light: #E5E7EB;
} */