.earthtone_primary_bg {
  background-color: #a97142 !important;
}

:global(body.dark-mode) .earthtone_primary_bg {
  background-color: #442d21 !important;
}

.earthtone_light_text {
  color: #faf9f5 !important;
}

:global(body.dark-mode) .earthtone_light_text {
  color: #faf9f5 !important;
}

.earthtone_hover_text {
  color: #f5ebdd !important;
}

:global(body.dark-mode) .earthtone_hover_text {
  color: #faf9f5 !important;
}

.earthtone_accent {
  color: #8b2e2c !important;
}

:global(body.dark-mode) .earthtone_accent {
  color: #8b2e2c !important;
}

.earthtone_secondary {
  background-color: #607744 !important;
}

:global(body.dark-mode) .earthtone_secondary {
  background-color: #607744 !important;
}

.earthtone_border_light {
  border-color: #faf9f5 !important;
}

:global(body.dark-mode) .earthtone_border_light {
  border-color: #8b2e2c !important;
}

.earthtone_dropdown {
  background-color: #f5ebdd !important;
  border-color: #8b2e2c !important;
}

:global(body.dark-mode) .earthtone_dropdown {
  background-color: #553728 !important;
  border-color: #553728 !important;
}

.earthtone_dropdown_item {
  color: #8b2e2c !important;
}

:global(body.dark-mode) .earthtone_dropdown_item {
  color: #faf9f5 !important;
}

.earthtone_dropdown_item:hover {
  background-color: #607744 !important;
  color: #faf9f5 !important;
}

:global(body.dark-mode) .earthtone_dropdown_item:hover {
  background-color: #8b2e2c !important;
  color: #faf9f5 !important;
}

.earthtone_toggler_icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FAF9F5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.earthtone_toggler_icon:hover,
.earthtone_border_light:hover {
  background-color: #607744 !important;
  border-color: #607744 !important;
}

:global(body.dark-mode)  .earthtone_toggler_icon:hover,
:global(body.dark-mode)  .earthtone_border_light:hover {
  background-color: #A97142 !important;
  border-color: #A97142 !important;
}

:global(body.dark-mode) .earthtone_toggler_icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FAF9F5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.earthtone_light_text::before {
  background-color:  #8b2e2c !important;
}

:global(body.dark-mode) .earthtone_light_text::before {
  background-color:  #607744 !important;
}

.earthtone_light_text::after {
  color: #fff !important;
}

:global(body.dark-mode) .earthtone_light_text::after {
  color: #faf9f5 !important;
}

.earthtone_accent:hover {
  background-color: #607744 !important;
  color: #faf9f5 !important;
}

:global(body.dark-mode) .earthtone_accent:hover {
  background-color: #8b2e2c !important;
  color: #faf9f5 !important;
}

.earthtone_light_text::after {
  background-image: none !important;
}

.icon_down {
  margin-right: 0.5rem;
}

.earthtone_accent {
  justify-content: space-between !important;
  display: flex !important;
  align-items: center !important;
}

.earthtone_accent::after {
  background-image: none !important;
}

.logo {
  min-height: 4.5rem !important;
}

.earthtone_primary_bg {
  background-color: #A97142;
}

/* :global(body.dark-mode) .earthtone_primary_bg {
  background-color: #2e1f17 !important;
} */

.earthtone_light_text {
  color: #FAF9F5;
}

:global(body.dark-mode) .earthtone_light_text {
  color: #faf9f5 !important;
}

.earthtone_border_light {
  border-color: #F5EBDD;
}

:global(body.dark-mode) .earthtone_border_light {
  border-color: #8b2e2c !important;
}

.earthtone_toggler_icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 235, 221, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

:global(body.dark-mode) .earthtone_toggler_icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FAF9F5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.earthtone_dropdown {
  background-color: #8B2E2C;
  border: 1px solid #607744;
}

:global(body.dark-mode) .earthtone_dropdown {
  background-color: #553728 !important;
  border-color: #8b2e2c !important;
}

.earthtone_accent {
  color: #F5EBDD;
}

:global(body.dark-mode) .earthtone_accent {
  color: #faf9f5 !important;
}

.earthtone_dropdown_item {
  color: #FAF9F5;
}

:global(body.dark-mode) .earthtone_dropdown_item {
  color: #faf9f5 !important;
}

.earthtone_dropdown_item:hover {
  background-color: #607744;
  color: #FAF9F5;
}

:global(body.dark-mode) .earthtone_dropdown_item:hover {
  background-color: #8b2e2c !important;
  color: #faf9f5 !important;
}

.earthtone_light_text {
  background-color: transparent !important;
}

.logo {
  height: 40px;
  width: auto;
}

.icon_down {
  margin-right: 5px;
}

.nav_link_home {
  padding: 0.5rem 1rem;
}

.nav_link_button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: right;
  width: 100%;
}

.nav_link_button:hover {
  color: #F5EBDD !important;
}

:global(body.dark-mode) .nav_link_button:hover {
  color: #fff !important;
  background: transparent !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    padding: 1rem;
    background-color: #A97142;
  }
  
  :global(body.dark-mode) .navbar-collapse {
    background-color: #2e1f17 !important;
  }
  
  .nav_link_button {
    text-align: right;
    padding: 0.75rem 1rem;
  }
  
  .dropdown-menu {
    margin-right: 1rem;
  }
}