.earthtone_primary_bg {
    background-color: #A97142 !important; 
}

.earthtone_light_text {
    color: #FAF9F5 !important; 
}

.earthtone_hover_text {
    color: #F5EBDD !important; 
}

.earthtone_accent {
    color: #8B2E2C !important; 
}

.earthtone_secondary {
    background-color: #607744 !important; 
}

.earthtone_border_light {
    border-color: #FAF9F5 !important; 
}

.earthtone_dropdown {
    background-color: #F5EBDD !important; 
    border-color: #8B2E2C !important; 
}

.earthtone_dropdown_item {
    color: #8B2E2C !important; 
}

.earthtone_dropdown_item:hover {
    background-color: #607744 !important; 
    color: #FAF9F5 !important; 
}

.earthtone_toggler_icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FAF9F5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.earthtone_light_text::before {
  background-color: #8B2E2C !important;
}

.earthtone_light_text::after {
  color: #fff !important;
}

.earthtone_accent:hover {
  background-color: #607744 !important;
  color: #FAF9F5 !important;
}

.earthtone_light_text::after {
  background-image: none !important;
}

.icon_down {
  margin-right: 0.5rem;
}

.earthtone_accent {
  justify-content: space-between !important;
  display: flex !important;
  align-items: center !important;
}

.earthtone_accent::after {
  background-image: none !important;
}

.logo {
  min-height: 4.5rem !important;
}